<form class="list__add-comment add-comment" [formGroup]="_form" (ngSubmit)="addComment()">
  <input class="input add-comment__title" placeholder="Title" formControlName="title" required />
  <ng-template ngxErrorMessage [control]="_form.get('title')"></ng-template>

  <textarea class="textarea gray add-comment__text" placeholder="Text" formControlName="text" required></textarea>
  <ng-template ngxErrorMessage [control]="_form.get('text')"></ng-template>

  <label class="add-comment__show-preview">
    <input type="checkbox" (click)="togglePreview()" />
    Show text preview
  </label>

  <div
    class="add-comment__preview new-line-to-br"
    *ngIf="_showPreview"
    [innerHTML]="_form.get('text').value | evaluateMathExpressions"
  ></div>

  <tag-input class="tag add-comment__tag" formControlName="tags" ngDefaultControl [modelAsStrings]="true">
    <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="availableTags">
      <ng-template let-item="item" let-index="index">{{ item.display }}</ng-template>
    </tag-input-dropdown>
  </tag-input>

  <div class="add-comment__controls">
    <button class="btn outline" type="button" (click)="clear()">Clear</button>
    <button class="btn primary" type="submit" [disabled]="!_form.valid">Add New Comment</button>
  </div>
</form>
