:root {
  --btn-height-small: 25px;
  --btn-height-medium: 30px;
  --btn-height-large: 35px;

  --btn-color-primary-text: white;
  --btn-color-primary-bg: #1fa7fd;
  --btn-color-primary-border: #1fa7fd;

  --btn-color-disabled-text: #ffffff;
  --btn-color-disabled-bg: #797979;
  --btn-color-disabled-border: #535353;

  --btn-color-secondary-text: rgb(102, 102, 102);
  --btn-color-secondary-bg: #3842481a;
  --btn-color-secondary-border: #1b1f2326;

  --btn-color-outline-text: #4a5056;
  --btn-color-outline-bg: #fafbfc;
  --btn-color-outline-border: #ccc;

  --btn-color-danger-text: white;
  --btn-color-danger-bg: #ff5282;
  --btn-color-danger-border: #ff5282;

  --comment-width: 700px;
}
